<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>222</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css" data-concat="false">

    <!-- 這個我開發時常要改，因此單獨放 -->
    <link rel="stylesheet" href="assets/css/app.css" data-concat="false">
</head>

<body>

    <!-- index.html 裏只有這個進入點，剩下 dom 都在 react 裏生成  -->
    {{content}}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js" data-concat="false"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js" data-concat="false"></script>

    <!-- 
    <script src="//fb.me/react-with-addons-0.11.1.js" data-concat="false"></script>
    <script src="vendor/corelibs.js" data-concat="false"></script>
    <script src="bundle.js" data-concat="false"></script>
    -->
</body>

</html>
